.bioInformation{
    flex: 40%;
    margin-bottom: 2rem;
    max-width: 45%;
}
.bioInformation h1{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.bioInformation h1 span{
    width: 30%;
    cursor: pointer;
}
.form{
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
}
.form label{
    display: flex;
    margin-bottom: 0.5rem;
    flex-direction: column;
    flex: 25%;
}
.form input, .form select{
    font-size: inherit;
    width: 100px;
    margin: 0.5rem 0;
    border: none;
    opacity: 0.5;
}
.form input:focus, .form select:focus{
    outline: none;
    opacity: 1;
}
@media screen and (max-width: 450px){
    .bioInformation{
        max-width: 100%;
    }
}