.profileContainer{
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}
.menu{
    flex: 1;
    margin-right: 0.7rem;
    color: rgb(4, 76, 243);
}
.menutitle {
    width: 100%;
    height: 6rem;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    background-color: rgba(252, 210, 133, 0.1);
}
.menutitle span{
    color: white;
}
.menuB{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(91, 164, 249, 0.8);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.menuList{
    list-style-type: none;
    color: black;
}
.menuList li{
    margin-bottom: 2rem;
    text-transform: capitalize;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.menuList span{
    width: 20%;
   
}
.profile_edit{
    flex: 3;
}
.profile_edit nav{
    width: 100%;
    height: 8rem;
    padding: 0 5%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: rgba(252, 210, 133, 0.1);
}
.profile_desc p:nth-child(2){
    font-size: 13px;
    width: 80%;
    margin-top: 1rem;
}
.profile_icon img{
    width: 58px;
    height: 58px;
    background-color: rgba(91, 164, 249, 0.5)
}
.blob1{
    width: 100px;
    height: 100px;
    z-index: -1;
    opacity: 0.3;
    position: absolute;
    top: -20px;
    left: -20px;
}
.blob2{
    width: 150px;
    height: 150px;
    z-index: -1;
    opacity: 0.3;
    position: absolute;
    bottom: -70px;
    right: -40px;
}
.circle{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 100px;
    z-index: 1;
    opacity: 0.3;
    /* left: -20px; */
}
.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.display_left{
    position: relative;
}
.display button{

    border: none;
    background: rgb(1, 1, 104);
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    border-radius: 5px;
    width: 150px;
    height: 35px;
}
.first{
    position: absolute;
    border: none;
    background: rgb(1, 1, 104);
    color: white;
    top: 40px;
    left: 100px;  
}
.first span,.second span, .update span {
    width: 30%;
    height: 100%;
    background: black ;
    color: white;
   display: inline-flex;
   justify-content: center;
   align-items: center;
}
.second{
    position: absolute;
    border: none;
    background: rgb(1, 1, 104);
    color: white;
    top: 80px;
    left: 100px;
}
.uploadmobile{
    display: none;
}
input[type="file"]{
    display: none;
}

.display_left img{
    width: 150px;
    height: 160px;
    object-fit: cover;

}
.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.other{
    width: 45%;
    height: 200px;
}
.other h1{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.other h1 span{
    width: 20%;
    cursor: pointer;
}
.identity{
    display: flex;
    justify-content: space-between;
}
.signature, .fingerprint{
    width: 40%;
    /* max-height: 40%; */
    border: 1px solid rgba(0,0,0,0);
}
.signature  div, .fingerprint div{
    width: 100%;
    height: 70%;
}
.signature img, .fingerprint img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 450px){
    .profileContainer{
        flex-direction: column;
        padding: 0 1%;
    }
    .menu{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }  
    .info{
        flex-direction: column;
    }
    .first{
        display: none !important;
    }
    .display_left{
        display: block;
    }
    .second{
        position: relative;
        top: 0;
        left: 0;
        display: inline-flex;
    }
    .profile_edit nav{
        padding: 0 2%;
    }
    .profile_desc p:nth-child(2){
        font-size: 10px;
        width: 90%;
        margin-top: 0.5rem;
    }
    .other{
        width: 100%;
        height: 200px;
    }
}